/* GLOBAL */

 #hero {
    background: url(../images/mobile.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
 }
  

 

 /* Font Styles */

body {
   font-family: 'sofia-pro-soft', sans-serif; 
}

h1 {
   font-family: 'chicagoflf', sans-serif; 
}

h2, h3, h4, h5, h6 {
   font-family: 'le-havre-rounded', sans-serif; 
}

p {
   font-family: 'sofia-pro-soft', sans-serif; 
}

.special-text {
   font-family: 'font-family-from-chicagoflf', serif;
}

 /* LANDING PAGE */

.background {
   background-color: #000;
   color: #F45A14;
 }

 /* MAIN NAV */
 
 #main-nav input, #burger-con {
    display: none;
 }



#hamburger:hover .cls-1 {
   stroke: #F45A14; 
   cursor: pointer;
   transition: stroke 0.3s ease; 
}

 /* Sibling Selector */


#main-nav input:checked ~ #burger-con {
    display: block;
 }


 #main-nav input:checked ~ label svg {
   transform: rotate(90deg);
}
 
 #main-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
 }
 
 #main-nav ul li a {
    display: block;
    margin-left: 20px;
    padding: 10px 0 10px 0;
    text-align: left;
    color: #F45A14;
    text-decoration: none;
 }
 
 #main-nav ul li:last-child {
    margin-bottom: 10px;
 } 

 #hamburger {
    margin-top: 24px;
    max-width: 80px;
 }

 #logo_cont {
    margin: 24px 71px; 
 }
 #logo {
    max-width: 100px;
 }

 /* SECTION BREAK CONTAINER */

 .break {
    background-color: orange;
    color: #ffffff;
    padding: 25px;
    text-align: center;
    margin: 0px 0px;
 }

 /* SECTION 2 */

 #universe {
   margin: 32px;
   text-align: center;
   color: #ffffff;
 }

 #flavours {
   width: 955px;
   height: 808px;
 }


 /* SECTION 3 */

 #possibility {
   background-color: #ffffff;
 }
 .bottle_tex {
    margin: 24px 0px;
    text-align: center;
    line-height: 42px;
 }

 .h3d {
    margin-bottom: 16px;
 }

 /* FOOTER */

 .footer_black {
   background-color: #000;
 }

 #footer_logo_desk {
   display: none;
 }

 #footer_logo {
    max-width: 125px;
 }

 .foot_nav {
   margin-bottom: 24px;
   cursor: pointer;
   text-decoration: none;
   color: #F45A14;
   text-align: center;
 }

 .foot_med {
   height: 64px;
   width: 64px;
   cursor: pointer;
   margin: 30px;
 }

 .legal {
    padding: 10px 0px;
    background: rgb(250,83,6);
    background: linear-gradient(180deg, rgba(250,83,6,1) 0%, rgba(255,110,0,1) 50%, rgba(250,165,5,1) 100%);
    color: #ffffff;
 }


/* PRODUCT PAGE */
 
.carousel_cont {
    overflow: hidden; 
    position: relative;
}

.img_cont {
    width: 100%;
    height: 100%;
    display: flex;
    transition: transform .5s ease-in-out; 
}

.img_cont img {
    width: 100%;
    height: auto;
    display: block;  
    margin: 16px 0px;
} 


.carousel_img {
    max-width: 100%;
    height: auto;
}

.arrow {
   margin: 16px;
   background-color: white;
   border: none;
   cursor: pointer;
}

.left_arrow {
   margin-left: 40px;
   margin-right: 16px;
}
.right_arrow {
   margin-left: 16px;
   margin-right: 40px;
}
.desc {
   margin: 24px 0px;
   text-align: center;
   color: #F45A14;
}

.h2m {
   margin-bottom: 16px;
   color: #F45A14;
}

.flavours {
   display: hidden;
}

.fruit {
   border-radius: 50%;
   border: 2px #000 solid;
   width: 48px;
   height: 48px;
   padding: 4px;
}

.soon {
   opacity: 0.5;
}

#orange_cap {
   margin-bottom: 24px;
}

#round_cont {
    border-style: solid;
    border-width: 6px;
    border-radius: 31px;
    border-color: #F45A14;
    padding: 0;
    margin-bottom: 24px;
}

#items p {
    color: #F45A14;
    margin-left: 12px;
}

#numbers {
   color: white;
   background: rgb(250,83,6);
   background: linear-gradient(180deg, rgba(250,83,6,1) 0%, rgba(255,110,0,1) 50%, rgba(250,165,5,1) 100%);
   border-top-right-radius: 21px;
   border-bottom-right-radius: 21px;
   border-top-left-radius: 0;
   border-bottom-left-radius: 0;
}

#numbers p {
    margin-left: 12px;
}

#meet_orbi {
   background-color: #F8E0C4;
}


#orbi {
   max-width: 300px;
   margin: 32px;
  
}

/* ABOUT US PAGE */

#astro {
   background: url(../images/about_hero_mobile.jpg) no-repeat;
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
   height: 100vh;
}

.different {
   text-align: center;
   color: #F45A14;
}

.about_space {
   display: flex;
}

.about_sec {
   margin: 12px;
}

.about_cont {
    border-style: solid;
    border-width: 2px;
    border-radius: 31px;
    border-color:#F45A14;
    margin-bottom: 24px;
    font-size: 14px;
    margin: 4px;
}

.about_cont img {
   max-width: 100px;
}

#journey {
   text-align: center;
   padding: 32px 24px;
   background-color: #ffffff;
}

.journey_tex {
   margin: 24px;
   line-height: 32px;
}

#process {
   text-align: center;
   font-size: 60px;
   margin: 24px;
}

.process_tex {
   text-align: center;
   margin: 24px;
   line-height: 32px;
}

/* CONTACT US PAGE */

#email {
    margin-bottom: 32px;
}

#media_cont {
    margin: 0px 21px;
}
.social_cont {
    height: 53px;
    width: 53px;
}


/* Form */

  form label {
    display: inline-block;
    text-align: right;
  }
  
  input,
  textarea {
    box-sizing: border-box;
    border: 1px solid #999;
  }
  
  input:focus,
  textarea:focus {
    border-color: #000;
  }
  
  textarea {
    vertical-align: top;
    height: 8px;
  
    /* To allow users to resize any textarea vertically
       It works only on Chrome, Firefox and Safari */
    resize: vertical;
  }

  #name {
    border: 6px solid #ccc;
    border-radius: 31px;
  }

  #mail {
    border: 6px solid #ccc;
    border-radius: 31px;
  }

  #msg {
    border: 6px solid #ccc;
    border-radius: 31px;
    height: 76px;
  }

  #submit {
    border: 6px solid #ccc;
    border-radius: 31px;
  }

  #map {
    background: url(../images/mobile.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
 }

  